<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New room</title>
</head>
<body>
    {% if message %}
        {{ message }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label>Conference room name:</label>
        <input type="text" name="name"><br>
        <label>Capacity:</label>
        <input type="text" name="capacity"><br>
        <label>Projector:</label>
        <input type="checkbox" name="projector" value="True"> <label>True</label>
        <input type="checkbox" name="projector" value="False"> <label>False</label><br>
        <input type="submit" name="submit" value="Send"><br><br>
        <button type="button">
        <a href="http://localhost:8000/list-of-rooms/">List of conference room</a><br>
        </button>
    </form>
</body>
</html>